---
import Animation from "./Animation.astro"
---
<style>
    section{
        margin-top: 5vh;
        height: 90vh;
        .golden-about{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            path{
                opacity: 0;
            }
        }
        .about-wrapper{
            display: flex;
            flex-direction: column;
            grid-column: 6 / span 7;
            gap: 2.5rem;
        }
        .image-container{
            width: 100%;
            height: 8.5rem;
            overflow: hidden;
            border-radius: .8rem;
            grid-column:6 / span 7;
            grid-row:3;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1.5);
                transform-origin: 40% 0%;
            }
        }
        #about-heading{
            color: var(--c-primary);
            display: flex;
            grid-column: 1 / span 5;
            grid-row: 1 / span 1;
            gap: 1.5rem;
            padding: 0;
            margin: 0;
            height: 0;
            .artem, .diakunchak{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                margin: 0;
                row-gap: 0;
                span{
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 130%;
                }
            }

        }
        p{
            color: var(--c-mid);
            letter-spacing: 0.16px;
            span{
                font-weight: 500;
                color: var(--c-primary);
            }
        }
        .contact-wrapper{
            display: flex;
            flex-direction: column;
            gap: .5rem;
            grid-row: 8;
            grid-column: 1 / span 10;
            h3{
                color: var(--c-primary);
                font-style: normal;
                font-weight: 500;
                letter-spacing: 0.54px;
                font-size: 1.2rem;
            }
            p{
                line-height: 160%;
                span{
                    a{
                        font-weight: 500;
                        color: var(--c-primary);
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        text-decoration-skip-ink: auto;
                        text-decoration-thickness: auto;
                        text-underline-offset: auto;
                        text-underline-position: from-font;
                    }
                }
            }
        }
    }
    @media screen and (width >= 55em) {
        section{
            grid-template-columns: repeat(13, 1fr);
            grid-template-rows: repeat(13, 1fr);
            height: 100vh;
            overflow: hidden;
            .golden-about{
                transform: rotate(-90deg) scale(1.8) scaleY(-1);
                width: 100%;
                height: 100vh;
                z-index: -1;
                path{
                    stroke-width: 1px;
                }
            }
            #about-heading{
                z-index: 2;
                grid-row: 2;
                .artem, .diakunchak{
                    flex-direction: row;
                    span{
                        font-size: 4.5rem;
                    }
                }

            }
            .about-wrapper{
                z-index: 2;
                grid-row:4;
                grid-column: 10 / span 3;
                gap: 2.5rem;
            }

            .image-container{
                z-index: 2;
                width: 95%;
                height: 95%;
                margin: 0 2rem;
                grid-row: 9 / span 5;
                grid-column: 9 / span 2;
            }

            .contact-wrapper{
                grid-row: 12;
                grid-column: 1 / span 3;

            }
        }
    }
    @media screen and (width >=90em) {
        section{
            .image-container{
                margin: 0 .5rem;
            }
        }
    }
</style>


<section class="grid" id="about-section">
    <svg class="golden-about" width="393" height="759" viewBox="0 0 393 759" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.1">
            <path d="M0.000875612 757.046C104.43 757.046 204.582 707.818 278.425 620.19C352.268 532.563 393.752 413.714 393.752 289.79" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M150.392 1.00073C214.935 1.00074 276.835 31.4267 322.474 85.5853C368.112 139.744 393.752 213.199 393.752 289.79" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M0.000976562 179.466C0.000978482 132.134 15.8457 86.7403 44.0494 53.2715C72.2532 19.8028 110.506 1.00024 150.392 1.00024" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M92.9707 289.79C68.3138 289.79 44.6669 278.167 27.2319 257.477C9.79685 236.787 0.00195312 208.726 0.00195313 179.466" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M92.9699 289.79C108.199 289.79 122.805 282.61 133.573 269.832C144.342 257.053 150.392 239.721 150.392 221.648" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M114.845 179.467C119.513 179.467 124.135 180.558 128.448 182.677C132.761 184.797 136.679 187.904 139.98 191.821C143.281 195.738 145.899 200.389 147.686 205.506C149.472 210.624 150.392 216.109 150.392 221.649" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M114.845 179.466C111.973 179.466 109.128 180.138 106.474 181.442C103.82 182.747 101.409 184.659 99.3777 187.069C97.3464 189.48 95.7351 192.341 94.6358 195.491C93.5365 198.64 92.9707 202.016 92.9707 205.425" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M106.642 221.649C104.847 221.649 103.069 221.229 101.41 220.414C99.7517 219.598 98.2445 218.403 96.975 216.897C95.7055 215.39 94.6984 213.602 94.0114 211.634C93.3243 209.665 92.9707 207.555 92.9707 205.425" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M106.642 221.648C108.817 221.648 110.904 220.623 112.442 218.797C113.98 216.972 114.845 214.496 114.845 211.914" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M106.642 211.914H114.845" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M106.643 205.425V221.649" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.377 211.915V205.425" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.376 208.669H106.642" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M114.846 205.425H92.9706" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M114.846 221.649V179.466" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M92.9695 221.649H150.392" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M92.9707 179.466V289.791" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M150.392 179.466H0.000471909" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M150.53 289.791L150.53 0.836363" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M0.000598637 289.79H393.752" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M-0.000263025 757.046H394.113" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M0.361927 1L394.113 1" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M0.000976562 757.047L0.000976563 0.571051" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.376 205.425C110.827 205.425 112.218 206.109 113.243 207.326C114.269 208.543 114.845 210.193 114.845 211.915" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.377 205.425C109.018 205.425 108.662 205.509 108.33 205.672C107.999 205.835 107.697 206.074 107.443 206.375C107.189 206.676 106.988 207.034 106.851 207.428C106.713 207.821 106.643 208.243 106.643 208.669" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.38 211.908C109.021 211.908 108.666 211.824 108.334 211.661C108.003 211.498 107.701 211.259 107.447 210.958C107.193 210.657 106.992 210.299 106.855 209.905C106.717 209.512 106.646 209.09 106.646 208.664" stroke="#FBFBFB" stroke-width="2"/>
        </g>
    </svg>
    <h2 class="visually-hidden">ABOUT SECTION</h2>
    <div id="about-heading">
        <div class="artem">
            <span>A</span>
            <span>R</span>
            <span>T</span>
            <span>E</span>
            <span>M</span>
        </div>
        <div class="diakunchak">
            <span>D</span>
            <span>I</span>
            <span>A</span>
            <span>K</span>
            <span>U</span>
            <span>N</span>
            <span>C</span>
            <span>H</span>
            <span>A</span>
            <span>K</span>
        </div>
    </div>
    <div class="about-wrapper">
        <p class="about-text">
            UX/UI Designer with <span>1 year of experience</span>, who loves a good challenge.
            Based in <span>West Flanders, Belgium</span> (yes, the one with the great beer and cycling),
            I spend my days focusing on the stuff that truly matters: my beloved plants,
            and digging into user research to find out what people really need.
        </p>
    </div>
    <div class="image-container">
        <img src="/img/Artem.png" alt="a guy with pale skin and blonde hair in a sweater sitting on a chair in school,
    dim warm lighting, yellow halftones">
    </div>
    <div class="contact-wrapper">
        <h3>CONTACT</h3>
        <p>
            I’m most active and reachable via <span><a href="mailto:artem.diakunchak.work@gmail.com">email</a></span>
            You can also check out my <span><a href="/Artem-Diakunchak-CV.pdf" download>resume</a></span>, if you’re into that sort of thing.
        </p>
    </div>
</section>
<Animation
        sectionSelector="#about-section"
        goldenSelector=".golden-about path"
        headingSelector="#about-heading"
        headingAnimation="scramble"
/>