---
import {getCollection} from "astro:content";
import BlogButton from "./BlogButton.astro";
import Animation from "./Animation.astro";
import ProjectCard from "./ProjectCard.astro";
const blogs = await getCollection("blogs")
---
<style>
    section{
        .content-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex-direction: column;
            .button-container{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                width: 100%;
                height: 75%;
                align-items: center;
                justify-content: center;

                a{
                    width: 100%;
                    text-decoration: none;
                }
            }
            h2{
                color: var(--c-primary);
                font-size: 2rem;
                font-weight: 600;
                text-align: center;
            }
        }
    }
    @media screen and (width <= 30em){
        section{
            height: 80vh;
            .golden-blog{
                height: 100%;
                width: 100%;
                position: absolute;
                top: -10px;
                left: 0;
                z-index: -1;
            }
            .content-wrapper{

            }
        }
    }
</style>
<section id="blog-section">
    <svg class="golden-blog" width="393" height="690" viewBox="0 0 393 690" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.08">
            <path d="M0.000733605 686.084C104.122 686.084 203.978 641.476 277.603 562.073C351.228 482.67 392.59 374.977 392.59 262.685" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M149.948 1.00049C214.301 1.00049 276.018 28.5707 321.522 77.646C367.026 126.721 392.59 193.282 392.59 262.685" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M0.000976563 162.715C0.000978477 119.825 15.7989 78.6925 43.9194 48.3651C72.0399 18.0377 110.18 1 149.948 1" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M92.6953 262.684C68.1113 262.684 44.5341 252.151 27.1505 233.403C9.76697 214.656 0.000976562 189.228 0.000976562 162.715" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M92.695 262.684C107.879 262.684 122.442 256.178 133.178 244.599C143.915 233.019 149.947 217.314 149.947 200.938" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M114.506 162.715C119.16 162.715 123.769 163.704 128.069 165.624C132.369 167.545 136.276 170.361 139.567 173.91C142.858 177.459 145.468 181.673 147.249 186.311C149.031 190.948 149.947 195.918 149.947 200.938" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M114.505 162.715C111.641 162.715 108.805 163.323 106.159 164.505C103.513 165.687 101.109 167.42 99.0834 169.604C97.0581 171.788 95.4516 174.381 94.3555 177.235C93.2594 180.089 92.6953 183.148 92.6953 186.237" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M106.327 200.938C104.536 200.938 102.764 200.558 101.11 199.819C99.4563 199.081 97.9536 197.998 96.6878 196.633C95.422 195.268 94.418 193.647 93.7329 191.863C93.0479 190.08 92.6953 188.168 92.6953 186.237" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M106.326 200.938C108.495 200.938 110.576 200.009 112.109 198.355C113.643 196.701 114.505 194.457 114.505 192.118" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M106.326 192.117H114.505" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M106.327 186.237V200.938" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.053 192.118V186.238" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.053 189.177H106.326" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M114.507 186.237H92.6963" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M114.507 200.938V162.715" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M92.6946 200.938H149.947" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M92.6953 162.716L92.6953 262.685" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M149.947 162.715L-5.66996e-05 162.715" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M150.086 262.685L150.086 0.852026" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M0.000489953 262.684L392.59 262.684" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M392.951 686.084L392.951 0.610923" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M0.000976562 686.084L0.000976562 0.610923" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.053 186.238C110.499 186.238 111.885 186.857 112.908 187.96C113.93 189.063 114.505 190.558 114.505 192.118" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.053 186.238C108.695 186.238 108.341 186.314 108.01 186.462C107.679 186.609 107.379 186.826 107.126 187.099C106.872 187.372 106.672 187.696 106.535 188.053C106.398 188.409 106.327 188.792 106.327 189.178" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.058 192.112C108.7 192.112 108.346 192.036 108.015 191.888C107.684 191.74 107.384 191.524 107.13 191.251C106.877 190.978 106.677 190.654 106.54 190.297C106.403 189.94 106.332 189.558 106.332 189.172" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M0.000733605 3.27686C104.122 3.27686 203.978 47.8849 277.603 127.288C351.228 206.69 392.59 314.384 392.59 426.676" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M149.948 688.36C214.301 688.36 276.018 660.79 321.522 611.715C367.026 562.64 392.59 496.079 392.59 426.676" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M0.000976562 526.647C0.000978477 569.536 15.7989 610.669 43.9194 640.997C72.0399 671.324 110.18 688.362 149.948 688.362" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M92.6953 426.677C68.1113 426.677 44.5341 437.21 27.1505 455.957C9.76697 474.705 0.000976562 500.133 0.000976563 526.646" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M92.695 426.677C107.879 426.677 122.442 433.183 133.178 444.762C143.915 456.342 149.947 472.047 149.947 488.423" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M114.506 526.646C119.16 526.646 123.769 525.657 128.069 523.736C132.369 521.816 136.276 519 139.567 515.451C142.858 511.901 145.468 507.688 147.249 503.05C149.031 498.413 149.947 493.442 149.947 488.423" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M114.505 526.646C111.641 526.646 108.805 526.038 106.159 524.856C103.513 523.673 101.109 521.941 99.0834 519.757C97.0581 517.572 95.4516 514.979 94.3555 512.126C93.2594 509.272 92.6953 506.213 92.6953 503.124" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M106.327 488.423C104.536 488.423 102.764 488.803 101.11 489.542C99.4563 490.281 97.9536 491.364 96.6878 492.729C95.422 494.094 94.418 495.714 93.7329 497.498C93.0479 499.282 92.6953 501.193 92.6953 503.124" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M106.326 488.423C108.495 488.423 110.576 489.352 112.109 491.006C113.643 492.66 114.505 494.904 114.505 497.243" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M106.326 497.244H114.505" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M106.327 503.124V488.423" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.053 497.243V503.124" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.053 500.184H106.326" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M114.507 503.124H92.6963" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M114.507 488.423V526.646" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M92.6946 488.423H149.947" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M92.6953 526.645L92.6953 426.676" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M149.947 526.646H-5.66996e-05" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M150.086 426.676L150.086 688.509" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M0.000489953 426.677L392.59 426.677" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M0.000697055 3.27686L392.951 3.27686" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M392.951 3.27686L392.951 688.75" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M0.000976562 3.27686L0.000976563 688.75" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.053 503.124C110.499 503.124 111.885 502.504 112.908 501.401C113.93 500.299 114.505 498.803 114.505 497.243" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.053 503.124C108.695 503.124 108.341 503.048 108.01 502.9C107.679 502.752 107.379 502.535 107.126 502.262C106.872 501.989 106.672 501.665 106.535 501.309C106.398 500.952 106.327 500.57 106.327 500.184" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M109.058 497.25C108.7 497.25 108.346 497.326 108.015 497.473C107.684 497.621 107.384 497.838 107.13 498.111C106.877 498.384 106.677 498.708 106.54 499.064C106.403 499.421 106.332 499.803 106.332 500.189" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M393 3.27686C288.879 3.27686 189.023 47.8849 115.398 127.288C41.7731 206.69 0.411131 314.384 0.411133 426.676" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M243.052 688.36C178.699 688.36 116.982 660.79 71.4783 611.715C25.9741 562.64 0.410154 496.079 0.410156 426.676" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M392.999 526.647C392.999 569.536 377.201 610.669 349.081 640.997C320.96 671.324 282.82 688.362 243.052 688.362" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M300.305 426.677C324.889 426.677 348.466 437.21 365.849 455.957C383.233 474.705 392.999 500.133 392.999 526.646" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M300.304 426.677C285.12 426.677 270.557 433.183 259.821 444.762C249.084 456.342 243.052 472.047 243.052 488.423" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M278.493 526.646C273.839 526.646 269.231 525.657 264.931 523.736C260.631 521.816 256.723 519 253.432 515.451C250.141 511.901 247.531 507.688 245.75 503.05C243.968 498.413 243.052 493.442 243.052 488.423" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M278.494 526.646C281.358 526.646 284.194 526.038 286.84 524.856C289.486 523.673 291.89 521.941 293.916 519.757C295.941 517.572 297.547 514.979 298.644 512.126C299.74 509.272 300.304 506.213 300.304 503.124" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M286.673 488.423C288.463 488.423 290.235 488.803 291.889 489.542C293.543 490.281 295.045 491.364 296.311 492.729C297.577 494.094 298.581 495.714 299.266 497.498C299.951 499.282 300.304 501.193 300.304 503.124" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M286.674 488.423C284.505 488.423 282.424 489.352 280.891 491.006C279.357 492.66 278.495 494.904 278.495 497.243" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M286.674 497.244H278.495" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M286.673 503.124V488.423" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M283.947 497.243V503.124" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M283.947 500.184H286.674" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M278.493 503.124H300.304" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M278.495 488.423V526.646" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M300.304 488.423H243.052" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M300.304 526.645V426.676" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M243.052 526.646H392.999" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M242.914 426.676L242.914 688.509" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M393 426.677L0.410156 426.677" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M392.999 3.27686L0.0488281 3.27686" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M392.638 688.362H0.0488281" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M0.0488281 3.27686L0.0488281 688.75" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M393 3.27686L393 688.75" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M283.947 503.124C282.501 503.124 281.115 502.504 280.092 501.401C279.07 500.299 278.495 498.803 278.495 497.243" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M283.947 503.124C284.305 503.124 284.659 503.048 284.99 502.9C285.321 502.752 285.621 502.535 285.874 502.262C286.128 501.989 286.328 501.665 286.465 501.309C286.602 500.952 286.673 500.57 286.673 500.184" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M283.942 497.25C284.3 497.25 284.654 497.326 284.985 497.473C285.316 497.621 285.616 497.838 285.87 498.111C286.123 498.384 286.323 498.708 286.46 499.064C286.597 499.421 286.668 499.803 286.668 500.189" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M393 686.084C288.879 686.084 189.023 641.476 115.398 562.074C41.7731 482.671 0.411131 374.978 0.411133 262.685" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M243.052 1.00098C178.699 1.00098 116.982 28.5712 71.4783 77.6464C25.9741 126.722 0.410154 193.282 0.410156 262.685" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M392.999 162.715C392.999 119.825 377.201 78.6925 349.081 48.3651C320.96 18.0377 282.82 1 243.052 1" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M300.305 262.684C324.889 262.684 348.466 252.152 365.849 233.404C383.233 214.656 392.999 189.229 392.999 162.715" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M300.304 262.684C285.12 262.684 270.557 256.179 259.821 244.599C249.084 233.02 243.052 217.315 243.052 200.939" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M278.493 162.715C273.839 162.715 269.231 163.704 264.931 165.625C260.631 167.546 256.723 170.361 253.432 173.911C250.141 177.46 247.531 181.674 245.75 186.311C243.968 190.949 243.052 195.919 243.052 200.939" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M278.494 162.715C281.358 162.715 284.194 163.324 286.84 164.506C289.486 165.688 291.89 167.421 293.916 169.605C295.941 171.789 297.547 174.382 298.644 177.236C299.74 180.09 300.304 183.148 300.304 186.237" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M286.673 200.938C288.463 200.938 290.235 200.558 291.889 199.819C293.543 199.081 295.045 197.998 296.311 196.633C297.577 195.268 298.581 193.647 299.266 191.863C299.951 190.08 300.304 188.168 300.304 186.237" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M286.674 200.938C284.505 200.938 282.424 200.009 280.891 198.355C279.357 196.701 278.495 194.457 278.495 192.118" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M286.674 192.118H278.495" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M286.673 186.237V200.938" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M283.947 192.118V186.238" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M283.947 189.177H286.674" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M278.493 186.237H300.304" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M278.495 200.938V162.715" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M300.304 200.938H243.052" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M300.304 162.716V262.685" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M243.052 162.715L392.999 162.715" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M242.914 262.685L242.914 0.852026" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M393 262.684L0.410156 262.684" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M0.0488281 686.084L0.0488281 0.611412" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M393 686.084L393 0.611412" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M283.947 186.238C282.501 186.238 281.115 186.857 280.092 187.96C279.07 189.063 278.495 190.558 278.495 192.118" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M283.947 186.238C284.305 186.238 284.659 186.314 284.99 186.462C285.321 186.609 285.621 186.826 285.874 187.099C286.128 187.372 286.328 187.696 286.465 188.053C286.602 188.409 286.673 188.792 286.673 189.178" stroke="#FBFBFB" stroke-width="2"/>
            <path d="M283.942 192.112C284.3 192.112 284.654 192.036 284.985 191.888C285.316 191.74 285.616 191.524 285.87 191.251C286.123 190.978 286.323 190.654 286.46 190.297C286.597 189.94 286.668 189.558 286.668 189.172" stroke="#FBFBFB" stroke-width="2"/>
        </g>
    </svg>
    <div class="content-wrapper">
        <h2>BLOG</h2>
        <div class="button-container">
            {
                blogs.map((blog) => (
                        <a href={`/blogs/${blog.data.id}`}>
                            <BlogButton blog = {blog.data} />
                        </a>
                ))
            }
        </div>
    </div>
</section>
<Animation
        sectionSelector="#blog-section"
        goldenSelector=".golden-blog path"
/>