---
const { blog } = Astro.props;
---
<style>
    body{
        background-color: #F2F2F2;
    }
    section{
        color: var(--c-dark);
        padding:1.3rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        .section-wrapper{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h3{
                font-size: 2rem;
                font-weight: 700;
            }
            .upper-container{
                display: flex;
                flex-direction: row;
                width: 100%;
                gap: .5rem;
                align-items: center;

                .label{
                    display: flex;
                    padding: .25rem .5rem;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    background: #EAEAEB;
                }
            }
            img{
                border: 1px solid #fff;
                border-radius: 1.5rem;
            }
        }
        .btn{
            justify-self: end;
        }
    }
</style>

<section class="white-bg">
    <div class="section-wrapper">
        <div class="upper-container">
            <div class="label">
                {blog.id}
            </div>
            <h3>{blog.title}</h3>
        </div>
        <div class="description-container">
            <p>{blog.description}</p>
        </div>
    </div>
    <div class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9" fill="none">
            <path d="M0.178238 4.05045C-0.059389 4.28808 -0.059389 4.67335 0.178238 4.91097L4.05059 8.78332C4.28821 9.02095 4.67348 9.02095 4.91111 8.78332C5.14873 8.5457 5.14873 8.16043 4.91111 7.9228L1.46902 4.48071L4.91111 1.03863C5.14873 0.800999 5.14873 0.41573 4.91111 0.178104C4.67348 -0.0595226 4.28821 -0.0595226 4.05059 0.178104L0.178238 4.05045ZM15.4185 4.48071V3.87223L0.608498 3.87223V4.48071V5.08919H15.4185V4.48071Z" fill="black"/>
        </svg>
        <a href="/#blog-section" class="back__btn">Go back</a>
    </div>
</section>