---
---

<style>
    .wrapper{
        position: relative;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }

        .circular-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 0.5s ease;
        }

        .background{
            width: 46px;
            height: 46px;
            flex-shrink: 0;
            background: url("/img/eyebg.png") lightgray 50% / cover no-repeat;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;

            .white{
                width: 46px;
                height: 18px;
                flex-shrink: 0;
                fill: #F2F2F2;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.3s ease;
            }

            .pupil{
                fill: #181820;
                width: 16px;
                height: 16px;
                flex-shrink: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -60%);
                z-index: 1000;
                transition: all 0.3s ease-out;
            }

            .eyelid {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("/img/eyebg.png") lightgray 50% / cover no-repeat;
                border-radius: 50%;
                transform-origin: center top;
                z-index: 1100;
                transition: transform 0.4s ease;
                opacity: 0;
            }
        }
    }

    @keyframes lookAround {
        0% { transform: translate(-50%, -60%); }
        15% { transform: translate(-30%, -70%); }
        30% { transform: translate(-70%, -50%); }
        45% { transform: translate(-40%, -65%); }
        60% { transform: translate(-60%, -55%); }
        75% { transform: translate(-35%, -75%); }
        90% { transform: translate(-65%, -45%); }
        100% { transform: translate(-50%, -60%); }
    }

    .looking .pupil {
        animation: lookAround 12s ease-in-out infinite;
    }

    .wrapper:hover .eyelid {
        opacity: 1;
        transform: scaleY(0.4);
    }

    .wrapper:hover .circular-text {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    @media screen and (width <= 30em){
        .wrapper{
            grid-column: 10;
            grid-row: 8;
            margin-top: -4rem;
            margin-right: -1rem;
        }
    }
</style>

<div class="wrapper" id="animated-eye">
    <div class="circular-text">
        <svg width="103" height="82" viewBox="0 0 103 82" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M93.2676 79.0747L92.3154 80.0796L88.1562 76.1138L88.709 80.4673L87.5146 81.728L86.9746 77.1714L82.2031 77.0796L83.4785 75.7329L87.9668 75.9331L85.5088 73.5903L86.4658 72.5806L93.2676 79.0747ZM95.835 70.1987L95.1973 71.2329L94.2363 70.6362C94.2867 70.7284 94.3318 70.8226 94.3701 70.9194C94.4597 71.139 94.508 71.3587 94.5156 71.5786C94.5329 71.7993 94.5149 72.0207 94.46 72.2427C94.4063 72.4707 94.3239 72.6868 94.2139 72.8901C94.1076 73.0957 93.9821 73.279 93.8369 73.4399L92.749 72.7651C92.9219 72.6008 93.0719 72.3909 93.1982 72.1362C93.3221 71.8854 93.3811 71.6197 93.375 71.3394C93.3694 71.0746 93.3133 70.8328 93.208 70.6138C93.1004 70.3984 92.9544 70.1994 92.7695 70.0181C92.5884 69.8391 92.3793 69.6757 92.1426 69.5288L89.1182 67.6528L89.8418 66.479L95.835 70.1987ZM7.93457 63.2876C8.90119 63.2403 9.76192 63.4619 10.5166 63.9517C11.2699 64.4374 11.8275 65.1912 12.1885 66.2134C12.5016 67.1001 12.5755 67.9242 12.4102 68.6851C12.2407 69.4474 11.868 70.1182 11.292 70.6968C10.7145 71.2713 9.96776 71.7207 9.05273 72.0454C8.13777 72.37 7.27521 72.4911 6.46582 72.4087C5.65515 72.3222 4.94679 72.0353 4.34082 71.5483C3.73068 71.0627 3.26825 70.3764 2.95508 69.4897C2.59411 68.4676 2.55439 67.5298 2.83496 66.6772C3.11419 65.8205 3.64461 65.1056 4.42578 64.5327L5.2373 65.7134C4.67874 66.1056 4.30177 66.5863 4.10547 67.1548C3.90775 67.7192 3.93285 68.3523 4.18066 69.0542C4.4025 69.6823 4.72914 70.1558 5.16016 70.4741C5.59113 70.7923 6.0985 70.9685 6.68262 71.0015C7.26535 71.0303 7.89526 70.9243 8.57227 70.6841C9.25075 70.448 9.80733 70.1345 10.2422 69.7446C10.6755 69.3507 10.9605 68.8946 11.0957 68.3755C11.2295 67.8522 11.1847 67.2761 10.9629 66.6479C10.715 65.946 10.3371 65.4376 9.8291 65.1235C9.31559 64.8069 8.72022 64.6713 8.04395 64.7173L7.93457 63.2876ZM95.6748 54.7368C96.2956 54.6538 96.9522 54.7298 97.6445 54.9653C98.3409 55.2023 98.9072 55.5469 99.3428 55.9985C99.7825 56.4517 100.066 56.9736 100.193 57.564C100.324 58.1559 100.279 58.7801 100.058 59.436C99.8319 60.1043 99.4852 60.6325 99.0186 61.021C98.5519 61.4094 98.0097 61.6482 97.3916 61.7368C96.7735 61.8254 96.1199 61.7523 95.4316 61.5181C94.7353 61.281 94.1672 60.936 93.7275 60.4829C93.2905 60.0352 93.0043 59.5147 92.8691 58.9214C92.7382 58.3296 92.7846 57.7016 93.0088 57.0376C93.2344 56.3694 93.5812 55.8411 94.0479 55.4526C94.5145 55.0642 95.0567 54.8254 95.6748 54.7368ZM97.1807 56.3394C96.48 56.101 95.865 56.0708 95.3359 56.2495C94.8071 56.4282 94.4379 56.829 94.2275 57.4517C94.0116 58.0911 94.0649 58.6407 94.3877 59.1001C94.7132 59.5649 95.2156 59.9136 95.8955 60.145C96.5921 60.3821 97.2036 60.4101 97.7285 60.23C98.2561 60.0554 98.6267 59.652 98.8398 59.021C98.9859 58.5881 99.0073 58.1978 98.9043 57.8501C98.8053 57.5038 98.6057 57.2036 98.3057 56.9497C98.0095 56.6972 97.6341 56.4937 97.1807 56.3394ZM10.0479 58.8569L0.506836 59.9263L0.354492 58.5698L9.89551 57.5005L10.0479 58.8569ZM9.53516 52.7222V54.0874L2.48145 54.0815L2.48242 52.7163L9.53516 52.7222ZM1.32617 52.7163V54.0806L0 54.0796V52.7144L1.32617 52.7163ZM102.424 43.4263L97.5664 44.8394L102.387 46.3911L102.373 47.5669L97.5156 48.9927L102.336 50.5317L102.319 51.8765L95.293 49.6294L95.3066 48.5327L100.434 46.9536L95.3477 45.2349L95.3613 44.1372L102.447 42.0747L102.424 43.4263ZM5.28418 44.9536C4.87004 45.0118 4.5272 45.1723 4.25586 45.4351C3.98098 45.6928 3.80722 46.0165 3.7334 46.4058C3.64984 46.8464 3.6858 47.2279 3.8418 47.5503C3.99352 47.8718 4.23613 48.1357 4.56934 48.3413C4.90253 48.5469 5.29984 48.6959 5.76074 48.7886C6.4756 48.9209 7.08371 48.8688 7.58496 48.6323C8.08699 48.3915 8.39847 47.9548 8.51855 47.3218C8.60047 46.8898 8.5682 46.5221 8.42188 46.2192C8.27201 45.9113 8.02392 45.6513 7.67871 45.439L8.25781 44.1401C8.89024 44.4962 9.33906 44.9697 9.60352 45.561C9.86364 46.1515 9.92326 46.8189 9.78223 47.563C9.64757 48.273 9.37438 48.8461 8.96387 49.2817C8.55331 49.7174 8.04726 50.0157 7.44531 50.1753C6.84418 50.3306 6.19236 50.3433 5.49023 50.2134C4.77691 50.0724 4.17204 49.8142 3.67578 49.4399C3.17549 49.065 2.81685 48.5976 2.59961 48.0376C2.38241 47.4775 2.33973 46.8464 2.47266 46.145C2.61625 45.3879 2.92755 44.7776 3.40527 44.3149C3.88369 43.8481 4.46586 43.5914 5.15234 43.5454L5.28418 44.9536ZM9.12695 34.8071L13.6826 33.3823L12.8984 35.064L8.57715 36.2944L11.6504 37.7388L11.0625 38.9995L2.55371 34.9946L3.13867 33.7397L8.34082 36.1841L6.4375 32.23L7.17188 30.6558L9.12695 34.8071ZM95.207 25.019C95.8419 25.0618 96.4038 25.26 96.8926 25.6128C97.3814 25.9656 97.7627 26.4577 98.0352 27.0894C98.3196 27.7489 98.4073 28.3771 98.2998 28.9741C98.1962 29.5695 97.9122 30.1036 97.4473 30.5757C96.984 31.0517 96.3542 31.4332 95.5586 31.7212L95.29 31.0981L93.4785 26.897C92.955 27.1774 92.5873 27.5176 92.376 27.9194C92.1247 28.4032 92.127 28.943 92.3838 29.5386C92.5528 29.9304 92.7868 30.2303 93.085 30.438C93.3889 30.6479 93.7411 30.7607 94.1416 30.7769L94.2822 32.1753C93.5946 32.1745 92.9806 31.9877 92.4404 31.6147C91.9042 31.2399 91.5002 30.7383 91.2295 30.1108C90.9519 29.4672 90.8477 28.8399 90.917 28.231C90.992 27.6245 91.2225 27.0763 91.6084 26.5864C92.0002 26.0986 92.5301 25.7096 93.1973 25.4204C93.9041 25.1141 94.5741 24.9804 95.207 25.019ZM95.7432 26.4595C95.3705 26.3583 94.9453 26.3736 94.4668 26.5024L95.9814 30.0132C96.4494 29.7431 96.7734 29.4446 96.9531 29.1167C97.1936 28.685 97.1921 28.1853 96.9473 27.6177C96.6765 26.99 96.2749 26.6039 95.7432 26.4595ZM90.1289 12.7183L87.6592 14.7524C87.976 14.7456 88.2863 14.7953 88.5898 14.9009C89.0856 15.0734 89.5348 15.4053 89.9375 15.897C90.2465 16.2742 90.4455 16.6409 90.5342 16.9966C90.6228 17.3521 90.633 17.6906 90.5645 18.0122C90.502 18.3345 90.3895 18.6334 90.2266 18.9087C90.0637 19.1839 89.8835 19.4281 89.6865 19.6411C89.4897 19.854 89.3076 20.0301 89.1396 20.1685L86.1152 22.6597L85.2373 21.5894L87.9141 19.3833C88.1256 19.209 88.3272 19.0121 88.5186 18.7925C88.716 18.5734 88.8698 18.3344 88.9785 18.0757C89.09 17.8202 89.13 17.5527 89.0986 17.2739C89.07 16.9985 88.9365 16.7159 88.6992 16.4263C88.5447 16.2377 88.3668 16.085 88.165 15.9692C87.9667 15.8508 87.7463 15.7845 87.5039 15.77C87.2641 15.7589 87.0007 15.809 86.7148 15.9204C86.4319 16.0352 86.129 16.2251 85.8066 16.4907L82.9736 18.8247L82.0967 17.7544L89.3545 11.7739L90.1289 12.7183ZM14.1523 15.5952L12.7266 17.1323L15.0059 19.2573C15.2128 19.4504 15.394 19.617 15.5498 19.7563C15.7086 19.8925 15.869 19.9788 16.0303 20.0161C16.3341 20.0852 16.6156 20.0089 16.875 19.7866C17.1343 19.5581 17.3971 19.2526 17.6631 18.8696L18.5088 19.6577C18.2706 20.0428 18.0017 20.3879 17.7021 20.6919C17.4025 20.9959 17.0825 21.2189 16.7432 21.3608C16.404 21.5027 16.0572 21.5244 15.7031 21.4263C15.3863 21.3391 15.1133 21.1977 14.8848 21.0024C14.656 20.8009 14.4013 20.5694 14.1211 20.3081L11.7949 18.1382L10.876 19.1304L10.0742 18.3813L10.9922 17.3901L9.56055 16.0542L10.4922 15.0483L11.9248 16.3843L13.3506 14.8472L14.1523 15.5952ZM20.5508 8.5874C21.1571 8.56088 21.733 8.69971 22.2783 9.00342C22.8238 9.30726 23.2992 9.76143 23.7051 10.3647C24.1157 10.9753 24.3591 11.5942 24.4346 12.2212C24.5111 12.8419 24.4235 13.4291 24.1719 13.9829C23.9177 14.5333 23.5005 15.0052 22.9199 15.3979C22.3357 15.7932 21.7403 16.0042 21.1338 16.0308C20.5272 16.0574 19.9507 15.9186 19.4053 15.6147C18.8612 15.3049 18.3847 14.8465 17.9766 14.2397C17.566 13.6294 17.3241 13.0124 17.251 12.3892C17.1755 11.7623 17.266 11.1751 17.5225 10.6284C17.7766 10.078 18.1913 9.60812 18.7646 9.22021C19.3487 8.82515 19.9444 8.61399 20.5508 8.5874ZM82.6514 7.5376L81.4775 9.10596L83.1533 10.3667L82.4961 11.2456L80.8203 9.98486L78.9551 12.48C78.7857 12.7065 78.6402 12.9048 78.5186 13.0747C78.4004 13.2473 78.3315 13.4167 78.3115 13.5815C78.2752 13.8918 78.3811 14.1644 78.6289 14.3999C78.8829 14.6346 79.2133 14.8651 79.6211 15.0903L78.9287 16.0161C78.522 15.8189 78.1523 15.5867 77.8193 15.3198C77.4862 15.0528 77.2313 14.7568 77.0547 14.4331C76.8782 14.1096 76.8191 13.7663 76.8789 13.4028C76.9318 13.0776 77.0434 12.79 77.2129 12.5415C77.3884 12.2923 77.5909 12.0143 77.8203 11.7075L79.7246 9.15967L78.6445 8.34717L79.3018 7.46826L80.3818 8.28076L81.5557 6.7124L82.6514 7.5376ZM21.0986 9.99951C20.5731 9.8189 20.0341 9.91445 19.4824 10.2876C19.1038 10.5437 18.8503 10.8419 18.7217 11.1812C18.5907 11.5168 18.5672 11.8773 18.6523 12.2612C18.7351 12.6414 18.9105 13.03 19.1777 13.4272C19.5908 14.0412 20.0618 14.4375 20.5908 14.6157C21.12 14.7939 21.6576 14.699 22.2021 14.3306C22.7609 13.9525 23.0509 13.4824 23.0723 12.9214C23.0947 12.3545 22.9056 11.7731 22.5049 11.1772C22.0943 10.5668 21.6252 10.1742 21.0986 9.99951ZM37.4541 2.32178C37.9792 2.19727 38.4671 2.16908 38.917 2.23682C39.367 2.30465 39.7558 2.46171 40.082 2.70654C40.407 2.94703 40.6432 3.26426 40.79 3.65869L39.4883 4.229C39.3636 3.90977 39.1474 3.68548 38.8398 3.55713C38.5322 3.42885 38.1664 3.40632 37.7432 3.48877C37.3368 3.56725 37.0264 3.71255 36.8125 3.92432C36.5978 4.13176 36.5211 4.36687 36.583 4.62939C36.619 4.78178 36.6964 4.90006 36.8145 4.98389C36.9369 5.06672 37.1479 5.12456 37.4463 5.15674C37.7447 5.1889 38.1791 5.20925 38.749 5.21729C39.36 5.229 39.8564 5.28541 40.2383 5.38721C40.6192 5.48483 40.9112 5.64205 41.1143 5.85791C41.3205 6.06848 41.4658 6.3491 41.5488 6.70068C41.709 7.37864 41.5862 7.96906 41.1816 8.47217C40.7813 8.97428 40.1468 9.32876 39.2783 9.53467C38.444 9.73241 37.7207 9.70934 37.1084 9.46533C36.496 9.22124 36.0512 8.77854 35.7744 8.13721L37.085 7.60498C37.2538 7.94078 37.5151 8.17671 37.8691 8.31201C38.2264 8.44206 38.6343 8.45271 39.0918 8.34424C39.5069 8.2458 39.811 8.08358 40.0039 7.85889C40.2009 7.63321 40.2644 7.37217 40.1943 7.07568C40.1533 6.90205 40.0784 6.77187 39.9688 6.68604C39.8622 6.59495 39.6656 6.53177 39.3799 6.49658C39.0943 6.46141 38.6655 6.43594 38.0938 6.41943C37.4688 6.4065 36.9617 6.35456 36.5732 6.26318C36.1881 6.16657 35.8937 6.0187 35.6904 5.8208C35.4905 5.61769 35.3505 5.34878 35.2715 5.01416C35.1735 4.59898 35.1985 4.21062 35.3457 3.84912C35.4929 3.48758 35.7453 3.17455 36.1035 2.91064C36.4659 2.64577 36.9162 2.44934 37.4541 2.32178ZM62.2988 1.18604C62.8864 1.05174 63.5078 1.08986 64.1621 1.30225C64.8454 1.52403 65.3753 1.87315 65.7529 2.34814C66.1318 2.81896 66.3456 3.38458 66.3936 4.04541C66.4456 4.70773 66.3174 5.43331 66.0088 6.22119L65.3623 6.01123L61.0117 4.59912C60.8771 5.17735 60.8893 5.67811 61.0518 6.10205C61.2495 6.61025 61.6574 6.96427 62.2744 7.16455C62.6802 7.29621 63.0594 7.31883 63.4121 7.23193C63.7702 7.1422 64.0879 6.95274 64.3643 6.6626L65.5068 7.47998C65.0525 7.99601 64.5068 8.3342 63.8701 8.49365C63.2347 8.64893 62.5915 8.62068 61.9414 8.40967C61.2748 8.19326 60.736 7.85779 60.3242 7.40381C59.9179 6.94693 59.6574 6.41191 59.5439 5.79834C59.436 5.18194 59.4939 4.52756 59.7168 3.83545C59.953 3.10194 60.2944 2.5101 60.7412 2.06006C61.1921 1.61144 61.7114 1.32036 62.2988 1.18604ZM50.1963 0.00244141C50.9143 0.027263 51.5202 0.216331 52.0137 0.568848C52.5071 0.916971 52.8674 1.40195 53.0947 2.02393C53.3264 2.64621 53.402 3.3788 53.3213 4.22119L51.957 4.17334L48.0713 4.03955C48.1004 4.63242 48.249 5.11044 48.5215 5.47314C48.8509 5.90705 49.3401 6.13523 49.9883 6.15771C50.4147 6.17246 50.7861 6.08948 51.1016 5.90869C51.4214 5.72371 51.6741 5.45325 51.8604 5.09814L53.1846 5.56885C52.8891 6.19034 52.4564 6.66576 51.8877 6.99463C51.3193 7.31897 50.6937 7.46937 50.0107 7.4458C49.3102 7.42158 48.6993 7.24823 48.1787 6.92529C47.6626 6.59813 47.2657 6.15471 46.9883 5.59619C46.7156 5.0336 46.5917 4.38907 46.6162 3.6626C46.6422 2.89238 46.808 2.22911 47.1143 1.67334C47.4249 1.11775 47.8448 0.694854 48.373 0.403809C48.9012 0.112804 49.5089 -0.0213019 50.1963 0.00244141ZM63.8408 2.46924C63.1908 2.25831 62.636 2.30483 62.1768 2.60889C61.8551 2.82199 61.586 3.15107 61.3672 3.59521L65.0039 4.77588C65.1098 4.24598 65.0995 3.80519 64.9717 3.45361C64.806 2.98798 64.4288 2.66009 63.8408 2.46924ZM50.208 1.2124C49.5248 1.18878 49.0038 1.38626 48.6455 1.80518C48.3946 2.09859 48.2263 2.48904 48.1377 2.97607L51.959 3.10791C51.9154 2.56997 51.7845 2.14968 51.5654 1.84717C51.2784 1.44518 50.8258 1.23379 50.208 1.2124Z" fill="#181820"/>
        </svg>
    </div>
    <div class="background">
        <div class="eyelid"></div>
        <div class="white">
            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="18" viewBox="0 0 46 18" fill="none">
                <path d="M23.5 0C10.7975 0 0 9 0 9C0 9 10.7975 18 23.5 18C36.2025 18 45.5 9 45.5 9C45.5 9 36.2025 0 23.5 0Z" fill="#F2F2F2"/>
            </svg>
        </div>
        <div class="pupil">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <circle cx="8" cy="8" r="8" fill="#181820"/>
            </svg>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const eyeContainer = document.getElementById('animated-eye');
        const pupil = eyeContainer.querySelector('.pupil');
        const eyelid = eyeContainer.querySelector('.eyelid');

        eyeContainer.classList.add('looking');

        eyeContainer.addEventListener('mousemove', (e) => {
            const rect = eyeContainer.getBoundingClientRect();
            const centerX = rect.left + rect.width / 2;
            const centerY = rect.top + rect.height / 2;

            const deltaX = (e.clientX - centerX) / (rect.width / 2);
            const deltaY = (e.clientY - centerY) / (rect.height / 2);

            const maxMove = 8;
            const moveX = deltaX * maxMove;
            const moveY = deltaY * maxMove;

            pupil.style.transform = `translate(calc(-50% + ${moveX}px), calc(-60% + ${moveY}px))`;
        });

        eyeContainer.addEventListener('mouseleave', () => {
            pupil.style.transform = 'translate(-50%, -60%)';
        });

        eyeContainer.addEventListener('click', () => {
            eyelid.style.opacity = '1';
            eyelid.style.transform = 'scaleY(0.2)';

            setTimeout(() => {
                eyelid.style.opacity = '0';
                eyelid.style.transform = 'scaleY(1)';
            }, 200);
        });

        setInterval(() => {
            if (!eyeContainer.matches(':hover') && Math.random() > 0.5) {
                const randomX = (Math.random() - 0.5) * 12;
                const randomY = (Math.random() - 0.5) * 8;

                pupil.style.transform = `translate(calc(-50% + ${randomX}px), calc(-60% + ${randomY}px))`;

                setTimeout(() => {
                    if (!eyeContainer.matches(':hover')) {
                        pupil.style.transform = 'translate(-50%, -60%)';
                    }
                }, 1500);
            }
        }, 3000);
    });
</script>