---
import EyeButton from "./EyeButton.astro"
---

<style>
    @media screen and (width <= 30em){
        section{
            background-color: #F2F2F2;
            height: 90vh;
            border-radius: 0 0 44px 44px;
            background-image:
                    radial-gradient(circle,
                    #ffffff 1px,
                    rgba(255, 255, 255, 0) 1px
                    );
            background-size: 10px 10px;
            display: grid;
            position: relative;
            padding: 1.4rem;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(10, 1fr);

            .white-dot{
                height: 100%;
                width: 100%;
                opacity: 0.05;
                position: absolute;
                top: 0;
                left: 0;
            }
            h1{
                font-family: 'Satoshi', sans-serif;
                font-size: 4rem;
                font-style: normal;
                font-weight: 900;
                line-height: 100%;
                letter-spacing: 0.12rem;
                color: var(--c-dark);
                grid-column: 1 / span 12;
                grid-row: 8 / span 3;

                align-self: end;
            }
            .name-text{
                grid-column: 1 / span 1;
                grid-row: 1 / span 3;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.01rem;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                justify-self: start;
            }
        }

    }
</style>

<section>
    <svg class="white-dot" width="393" height="745" viewBox="0 0 393 745" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M394 0H395.333V745H392.667V601.869C387.034 636.494 372.629 668.654 350.978 693.966C322.998 726.674 285.157 745.322 245.54 745.896L243.652 745.91C178.701 745.91 116.461 715.746 70.6074 662.143C32.7283 617.861 8.58278 560.571 1.33301 499.291V745H-1.33301V0H1.33301V410.399C10.9887 306.357 50.7091 208.653 114.643 133.914C188.692 47.3492 289.174 -1.33203 394 -1.33203V0ZM1.69922 461.502C1.9996 536.158 27.4996 607.647 72.6338 660.409C117.684 713.073 178.614 742.786 242.181 743.238V461.502H1.69922ZM244.847 743.235L245.5 743.231C284.281 742.669 321.421 724.416 348.951 692.232C376.656 659.846 392.361 615.992 392.66 570.152H244.847V743.235ZM244.847 567.486H266.395C265.93 567.286 265.467 567.078 265.009 566.856C260.522 564.684 256.46 561.506 253.048 557.518C249.636 553.529 246.938 548.805 245.101 543.619C245.013 543.372 244.93 543.124 244.847 542.876V567.486ZM299.724 555.776C298.657 558.13 297.292 560.296 295.665 562.197C293.81 564.366 291.644 566.156 289.261 567.486H299.724V555.776ZM302.39 567.486H392.658C392.361 539.446 382.702 512.66 365.763 492.858C348.877 473.119 326.132 461.918 302.39 461.514V567.486ZM245.007 528.609C245.144 533.461 246.026 538.245 247.614 542.729C249.348 547.623 251.886 552.058 255.074 555.784C258.262 559.51 262.035 562.453 266.171 564.456C269.893 566.258 273.849 567.267 277.854 567.451V528.609H245.007ZM280.521 567.433C282.732 567.262 284.912 566.671 286.976 565.672C289.453 564.472 291.72 562.706 293.639 560.464C295.557 558.221 297.088 555.547 298.135 552.592C299.037 550.046 299.563 547.339 299.691 544.587H280.521V567.433ZM321.693 461.502C339.039 466.041 355.061 476.246 367.789 491.125C380.095 505.511 388.627 523.452 392.667 542.861V461.502H321.693ZM288.722 541.921H299.672C299.557 540.43 299.25 538.967 298.76 537.585C298.125 535.792 297.197 534.176 296.04 532.823C294.883 531.471 293.521 530.41 292.038 529.692C290.972 529.176 289.855 528.843 288.722 528.696V541.921ZM280.67 538.196C280.869 539.081 281.262 539.883 281.803 540.516C282.249 541.038 282.771 541.415 283.322 541.646V538.196H280.67ZM286.056 528.769C284.783 529.073 283.578 529.813 282.604 530.951C281.552 532.181 280.852 533.786 280.613 535.53H286.056V528.769ZM295.391 528.609C296.363 529.316 297.261 530.148 298.066 531.09C298.678 531.805 299.232 532.576 299.724 533.396V528.609H295.391ZM280.521 529.287C280.54 529.264 280.558 529.24 280.577 529.218C280.759 529.005 280.951 528.804 281.146 528.609H280.521V529.287ZM299.724 461.521C285.406 461.92 271.7 468.744 261.479 480.691C251.205 492.703 245.292 508.922 244.998 525.943H299.724V461.521ZM244.847 507.413C247.614 496.779 252.588 486.982 259.453 478.957C266.55 470.661 275.3 464.692 284.821 461.502H244.847V507.413ZM392.667 1.33789C289.175 1.74869 189.948 49.9838 116.669 135.647C43.339 221.371 1.99993 337.565 1.69922 458.836H392.667V1.33789Z" fill="#3B3B3B"/>
    </svg>
    <div class="name-text">Artem Diakunchak</div>
    <h1>
        UX/UI <br> DESIGNER
    </h1>
    <EyeButton />
</section>