---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

const projects = await getCollection("projects")
---
<style>
    section{
        border-radius: 44px;
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 1.5rem;
        padding: 2rem 1.3rem;
        h2{
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            letter-spacing: 0.32px;
            width: 100%;
            font-size: 2rem;

        }
        .cards-container{
            display: flex;
            width: 100%;
            gap: 2rem;
            flex-wrap: wrap;
            justify-content: center;
        }
        a{
            text-decoration: none;
            color: var(--c-dark);
            display: flex;
            width: fit-content;
        }
    }
    @media screen and (width >= 55em){
        section{
            height: 100vh;
            justify-content: space-between;
            align-items: center;
            h2{
                font-size: 3rem;
                margin-top: 10%;
            }
            .cards-container{
                display: flex;
                width: 100%;
                justify-content: space-around;
                gap: 0;
                align-items: end;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
</style>
<section class="white-bg" id="work-section">
    <h2>
        Selected works
    </h2>
    <div class="cards-container">
        {
            projects.map((project) => (
                        <a href={`/projects/${project.slug}`}>
                            <ProjectCard project = {project.data} />
                        </a>
            ))
        }
    </div>
</section>

